{% extends "../dashboard.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="../css/dashboard/dashboardCollections.css">
	<link rel="stylesheet" href="../css/dashboard/menu.css">
	<link rel="icon" type="image/x-icon" href="../img/svg/🦆 icon _pie chart_.svg">
{% endblock %}

{% block title %}
	<title>Tableau de bord - Modifier collection</title>
{% endblock %}

{% block main %}
	<main>
		<section class="dashboard_head">
				<h2 class="dashboard_update_title">Collection : {{collection.nameCollection}}</h2>
			<div class="dashboard_profile">
				<img src="" alt="" srcset="">
			</div>
		</section>


		<section>
			<article class="dashboard_users_add">
					<div class="add_user_title">
						<div>
							<img src="../img/svg/collection_add.svg" alt="statistique global">
						</div>
						<h2 class="title_add_user">Modifier une collection</h2>
					</div>
					<form action="/dashboardCollectionUpdate/{{collection.id}}" method="post" enctype="multipart/form-data">
						<div class="form_left">
							<input type="text" placeholder="Nom de collection" name="nameCollection"  value="{{collection.nameCollection}}">
							<input type="text" placeholder="Catégorie" name="categoryCollection"  value="{{collection.categoryCollection}}">
							<textarea cols="30" rows="5" name="descriptionCollection" placeholder="Description"  value="{{collection.descriptionCollection}}"></textarea>
							<div class="button">
								<button type="submit">Ajouter</button>
								<a href="/dashboardCollection">Annuler</a>
							</div>
						</div>

						<div class="form_right">
							<p>Image</p>
							<div class="input_file">
								<input type="file" name="imageCollection"  value="{{collection.imageCollection}}">
								<p>{{collection.imageCollection}}</p>
							</div>
						</div>
					</form>
			</article>
		</section>
	</main>
{% endblock %}
