{% extends "../dashboard.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="../css/dashboard/dashboardCards.css">
	<link rel="stylesheet" href="../css/dashboard/menu.css">
	<link rel="icon" type="image/x-icon" href="../img/svg/🦆 icon _pie chart_.svg">
{% endblock %}

{% block title %}
	<title>Tableau de bord - Carte</title>
{% endblock %}

{% block main %}
	<main>
		<section class="dashboard_head">
		<h2 class="dashboard_update_title">Carte : {{card.nameCard}}</h2>
			<div class="dashboard_profile">
				<img src="" alt="" srcset="">
			</div>
		</section>


		<section>
			<article class="dashboard_users_add">
					<div class="add_user_title">
						<div>
							<img src="../img/svg/collection_add.svg" alt="statistique global">
						</div>
						<h2 class="title_add_user">Modifier une carte</h2>
					</div>
					<form action="/dashboardCardUpdate/{{card.id}}" method="post" enctype="multipart/form-data">
						<div class="form_left">
							<input type="text" placeholder="Nom de la carte" name="nameCard" value="{{card.nameCard}}">
							<select name="categoryCard">
								{% for collections in collections %}
									<option value={{collections._id}}>{{collections.nameCollection}}</option>
								{% endfor %}
							</select>
                            <input type="text" placeholder="Prix de la carte" name="priceCard" value="{{card.priceCard}}">
							<div class="button">
								<button type="submit">Ajouter</button>
								<a href="/dashboard">Annuler</a>
							</div>
						</div>

						<div class="form_right">
							<p>Image</p>
							<div class="input_file">
								<input type="file" name="imageCard" value="{{card.imageCard}}">
								<p>Browse File to Upload</p>
							</div>
						</div>
					</form>
			</article>
		</section>

		<section class="dashboard_list_users">
		</section>
	</main>
{% endblock %}

{% block script %}
	<script src="../js/main.js"></script>
{% endblock %}
