{% extends "../dashboard.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/dashboard/dashboardCards.css">
	<link rel="stylesheet" href="./css/dashboard/menu.css">
	<link rel="icon" type="image/x-icon" href="./img/svg/🦆 icon _pie chart_.svg">
{% endblock %}

{% block title %}
	<title>Tableau de bord - Carte</title>
{% endblock %}

{% block main %}
	<main>
		<section class="dashboard_head">
			<div class="dashboard_search">
				<img src="./img/svg/🦆 icon _magnifying glass_.svg" alt="" srcset="">
				<input type="text" placeholder="Rechercher..." onkeyup="dataUsers(this)">
			</div>
			<div class="dashboard_profile">
				<img src="" alt="" srcset="">
			</div>
		</section>


		<section>

			<article class="dashboard_users_add">
				<button class="accordion">
					<div class="add_user_title">
						<div>
							<img src="./img/svg/collection_add.svg" alt="statistique global">
						</div>
						<h2 class="title_add_user">Ajouter une carte</h2>
					</div>
				</button>
				<div class="panel">
					<form action="/dashboardCard" method="post" enctype="multipart/form-data">
						<div class="form_left">
							<input type="text" placeholder="Nom de la carte" name="nameCard">
							<select name="categoryCard">
								{% for collection in collections %}
									<option value={{collection._id}}>{{collection.nameCollection}}</option>
								{% endfor %}
							</select>
                            <input type="text" placeholder="Prix de la carte" name="priceCard">
							<div class="button">
								<button type="submit">Ajouter</button>
								<a href="/dashboard">Annuler</a>
							</div>
						</div>

						<div class="form_right">
							<p>Image</p>
							<div class="input_file">
								<input type="file" name="imageCard">
								<p>Browse File to Upload</p>
							</div>
						</div>

					</form>
				</div>
			</article>
		</section>
		<section class="dashboard_list_users">

			<div class="users_list_title">
				<div>
					<img src="./img/svg/collection.svg" alt="statistique global">
				</div>
				<h2>Liste des cartes</h2>
			</div>

			<div>
				<div class="head_data_users_home">
					<div>
						<p>Nom de la carte</p>
					</div>
					<div>
						<p>Image</p>
					</div>
					<div>
						<p>Modifier</p>
					</div>
					<div>
						<p>Supprimer</p>
					</div>
				</div>
				<div class="cover_data_users_home" id="searchResults">
					{% for card in cards %}
						<div class="data_users_home">
							<div>
								<p>{{card.nameCard}}</p>
							</div>
							<div class="dashboard_image_collection">
								<img src="./uploads/cards/{{card.imageCard}}" alt="" srcset="">
							</div>
							<div>
								<a href="/dashboardCardUpdate/{{card.id}}"><img src="./img/svg/modifier.svg"></a>
							</div>
							<div>
								<a href="/dashboardCard/{{card.id}}"><img src="./img/svg/delete.svg"></a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</main>
{% endblock %}

{% block script %}
	<script src="./js/main.js"></script>
{% endblock %}
